.SearchField {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.SearchField:after {
    content: '';
    position: absolute;
    right: -17px;
    top: 0;
    height: 100%;
    background-color: #E5E5E5;
    width: 1px;
}

.SearchFieldWrapper {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 5px 10px;
}



.SearchIcon {
    vertical-align: middle;
    cursor: pointer;
    color: #DBDBDB;
    transition: color .5s ease
}

.SearchIcon:hover {
    color: #000
}

.Input {}