.PersonPhoto {
    width: 190px;
    height: 190px;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden
}

.PersonPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CirclePhoto {
    /* border-radius: 100%; */
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none
}

.CirclePhoto img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.Info {
    width: 100px;
    height: 100px;
    float: left;
}

.Info img {
    border-radius: 50%;
}

.Loading {
    min-height: 170px;
    width: 100%;
    background-color: #e0e0e0;
}

.LoadingCircle {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 50%
}

.PersonPhoto:hover div {
    transform: translateY(0%);
    opacity: 1
}