.PersonPhoto {
    padding: 5px;
    border: 5px #fff solid
}

.PersonPhoto img {
    width: 100%;
    height: auto;
}

.CirclePhoto {
    /* border-radius: 100%; */
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none
}

.CirclePhoto img {
    border-radius: 50%;
}

.Info {
    width: 100px;
    height: 100px;
    float: left;
}

.Info img {
    border-radius: 50%;
}

.Loading {
    min-height: 170px;
    width: 100%;
    background-color: #e0e0e0;
}

.LoadingCircle {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 50%
}