.Heading {
    margin-bottom: 5px;
}

.HeadingMaxMargin {
    margin-bottom: 15px;
}

.Heading h1 {
    color: #1C1C1C;
    text-transform: capitalize;
    margin: 0;
    margin-right: 10px;
    display: inline-block;
    font-size: 24px;
}

.Heading h1.Small {
    font-size: 18px;
}

.Heading p {
    display: inline-block;
    color: #777777;
    font-size: 18px;
    margin: 0;

}

.Heading a {
    display: inline-block;
    color: #3D5A80;
    text-decoration: none;
    font-size: 18px;
}

.Heading .SubHeading {
    color: #00B1EB;
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
}

.DateHeading {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.DateHeading .Date {
    font-size: 10px;
    margin: 0;
    color: #777777;
}

.Heading .Gray {
    width: 25%;
    justify-content: flex-end;
    color: #C4C4C4;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    height: 40px
}


.Heading .Gray span {
    /* display: inline-block !important; */
    font-size: 12px;
    margin-right: 2px;
    vertical-align: middle;
}

.Heading .Gray>span {
    margin-right: 5px;
    display: inline-block;
    height: 100%;
}

.Heading .Gray span span {
    display: inline-block;
}