.Skills {
    margin-top: 15px;
}

.Heading {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.Skill {
    padding: 3px 10px;
    color: #777777;
    background-color: #DBDBDB;
    border-radius: 5px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;

}

.Test {
    white-space: normal
}

.Selected {

    color: #fff;
    background-color: #6ACDF0;
}

.NoMargin {
    margin: 0
}